.cont {
    background-color: #90be6d;
    display: flex;
    flex-direction: column;
    width: 15rem;
    margin: 0.5rem;
    text-align: center;
    padding: 1rem;
    border-radius: 0.2rem;
}

img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.char {
    display: flex;
    margin-top: 2rem;
}

.spanDiv {
    margin: 1rem;
    display: flex;
    justify-content: space-around;
}

h2 {
    color: #ffffff;
}